html,body {
    font-family: arial;

}

.login_body {

    height: 100%;
    width: 100%;
    position: fixed;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 30px;
    background: #f2f0f9;
    //      background: rgba(135,193,207,1);
    //	background: -moz-linear-gradient(45deg, rgba(135,193,207,1) 0%, rgba(111,192,212,1) 41%, rgba(63,141,163,1) 100%);
    //	background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(135,193,207,1)), color-stop(41%, rgba(111,192,212,1)), color-stop(100%, rgba(63,141,163,1)));
    //	background: -webkit-linear-gradient(45deg, rgba(135,193,207,1) 0%, rgba(111,192,212,1) 41%, rgba(63,141,163,1) 100%);
    //	background: -o-linear-gradient(45deg, rgba(135,193,207,1) 0%, rgba(111,192,212,1) 41%, rgba(63,141,163,1) 100%);
    //	background: -ms-linear-gradient(45deg, rgba(135,193,207,1) 0%, rgba(111,192,212,1) 41%, rgba(63,141,163,1) 100%);
    //	background: linear-gradient(45deg, rgba(135,193,207,1) 0%, rgba(111,192,212,1) 41%, rgba(63,141,163,1) 100%);
    //	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#87c1cf', endColorstr='#3f8da3', GradientType=1 );

}

.header {
    position: fixed;
    left: 0px;
    top: 0px;
    right: 0px;
    height: 67px;
    width: 100%;
    background-image: url(../images/center.png);
    background-repeat: repeat-x;
/*-webkit-box-shadow: 0px 6px 20px 0px rgba(157, 145, 223, 0.69);
-moz-box-shadow:    0px 6px 20px 0px rgba(157, 145, 223, 0.69);
box-shadow:         0px 6px 20px 0px rgba(157, 145, 223, 0.69);*/


}

.leftimg{
    position: absolute;
    background-image: url(../images/left.png);
    background-repeat: no-repeat;
    margin-top: 0px;
    margin-left: 0px;
    height: 67px;
    width: 590px;
}

.rightimg{
    position: absolute;
    background-image: url(../images/right.png);
    background-repeat: no-repeat;
    margin-top: 0px;
    right: 0px;
    height: 130px;
    width: 301px;
}

.login_ticker {
    height: 20px;
    width: 100%;
    position: fixed;
    left: 0px;
    top: 67px;
    right: 0px;
background-color: #b9cde5;
}

.watermark{
    bottom: 32px;
    right: -70px;
    background-image: url(../images/watermark.png);
    background-repeat: no-repeat;
    position: fixed;
    width: 27%;
    height: 30%;
    background-size:60% 100%;
    background-position:center;
}

.footer {
    height: 30px;
    width: 100%;
    position: fixed;
    text-align: center;
    vertical-align: middle;
    font-family: "Arial bold", Gadget, sans-serif;
    color: #fff;
    font-size: 12px;
    padding-top: 2px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    background-color: #033758;
     background-repeat: repeat-x;
}

.content {
    height: auto;
    width: auto;
    position: fixed;
    left: 0px;
    bottom: 25px;
    right: 0px;
    top: 130px;
    padding-top:50px;
    overflow: scroll;
    overflow-y: auto;
    overflow-x: hidden;
}




#dialog {


    padding:2px;
    //	font:10pt tahoma;
    //	border:1px gray;
    border-radius: 0px;
    background-image: url(../images/loginbox.png);
    //	-webkit-box-shadow: 2px 1px 2px 1px #2E2E2E;
    //	box-shadow: 2px 1px 2px 1px #2E2E2E;
    background-repeat:no-repeat;
    margin: auto;
    top: 70px;
    right: 0;
    bottom: 0;
    left: 0;
    width: 420px;
    height: 337px;
    padding-top:85px;
    padding-left:55px;
    padding-bottom:2px;
    position: absolute;

}




.login_content{
    text-decoration:none;
    right:10px;
    top:6px;
    position:absolute;
    font-size:15px;
}

a:hover, a:visited, a:link, a:active{
    text-decoration: none;
    color:#FFF;
}

.login_button {
    -moz-box-shadow:inset 0px 1px 0px 0px #54a3f7;
    -webkit-box-shadow:inset 0px 1px 0px 0px #54a3f7;
    box-shadow:inset 0px 1px 0px 0px #54a3f7;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #007dc1), color-stop(1, #0061a7));
    background:-moz-linear-gradient(top, #007dc1 5%, #0061a7 100%);
    background:-webkit-linear-gradient(top, #007dc1 5%, #0061a7 100%);
    background:-o-linear-gradient(top, #007dc1 5%, #0061a7 100%);
    background:-ms-linear-gradient(top, #007dc1 5%, #0061a7 100%);
    background:linear-gradient(to bottom, #007dc1 5%, #0061a7 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#007dc1', endColorstr='#0061a7',GradientType=0);
    background-color:#007dc1;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
    border:1px solid #124d77;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:arial;
    font-size:13px;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:0px 1px 0px #154682;
    width:100px;
}
.login_button:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #0061a7), color-stop(1, #007dc1));
    background:-moz-linear-gradient(top, #0061a7 5%, #007dc1 100%);
    background:-webkit-linear-gradient(top, #0061a7 5%, #007dc1 100%);
    background:-o-linear-gradient(top, #0061a7 5%, #007dc1 100%);
    background:-ms-linear-gradient(top, #0061a7 5%, #007dc1 100%);
    background:linear-gradient(to bottom, #0061a7 5%, #007dc1 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0061a7', endColorstr='#007dc1',GradientType=0);
    background-color:#0061a7;
}
.login_button:active {
    position:relative;
    top:1px;
}


.reset_button {
    -moz-box-shadow:inset 0px 1px 3px 0px #5b6362;
    -webkit-box-shadow:inset 0px 1px 3px 0px #5b6362;
    box-shadow:inset 0px 1px 3px 0px #5b6362;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #7e8583), color-stop(1, #424242));
    background:-moz-linear-gradient(top, #7e8583 5%, #424242 100%);
    background:-webkit-linear-gradient(top, #7e8583 5%, #424242 100%);
    background:-o-linear-gradient(top, #7e8583 5%, #424242 100%);
    background:-ms-linear-gradient(top, #7e8583 5%, #424242 100%);
    background:linear-gradient(to bottom, #7e8583 5%, #424242 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#7e8583', endColorstr='#424242',GradientType=0);
    background-color:#7e8583;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
    border:1px solid #124d77;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:arial;
    font-size:13px;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:0px 1px 0px #154682;
    width:100px;
}
.reset_button:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #424242), color-stop(1, #7e8583));
    background:-moz-linear-gradient(top, #424242 5%, #7e8583 100%);
    background:-webkit-linear-gradient(top, #424242 5%, #7e8583 100%);
    background:-o-linear-gradient(top, #424242 5%, #7e8583 100%);
    background:-ms-linear-gradient(top, #424242 5%, #7e8583 100%);
    background:linear-gradient(to bottom, #424242 5%, #7e8583 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#424242', endColorstr='#7e8583',GradientType=0);
    background-color:#424242;
}
.reset_button:active {
    position:relative;
    top:1px;
}


.login_textField{
    background: #fff;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    color: #000;
    -webkit-box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(000,000,000,0.7) 0 0px 0px;
    -moz-box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(000,000,000,0.7) 0 0px 0px;
    box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(000,000,000,0.7) 0 0px 0px;
    padding:5px;
    margin-bottom:5px;
    margin-top:5px;
    width:200px;
    border: 2px solid #e5e2f4;
    
}

.form-field {

    background: #fff;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    color: #000;
    -webkit-box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(000,000,000,0.7) 0 0px 0px;
    -moz-box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(000,000,000,0.7) 0 0px 0px;
    box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(000,000,000,0.7) 0 0px 0px;
    padding:5px;
    margin-bottom:5px;
    margin-top:5px;
    width:190px;
    border: 2px solid #e5e2f4;
    
}
.form-field:focus {
    background: #fff;
    color: #000;
    border-color: #9ecaed;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    box-shadow: 0 0 10px #9ecaed;
}
.lable{
    font-family: "Arial bold", Gadget, sans-serif;
    color: #535356;
    font-size: 12px;
    text-shadow: 3px 3px 3px rgba(255, 255, 255, 1);
}